.aboutus_title{
    
    font-family: 'Bebas Neue', cursive;
    font-size: 52px;
}

.aboutusimg{
    /*width: 750px;*/
}


@media (min-width:800px){
    .aboutus_content{   
        display: grid;
        grid-template-columns: 1fr 1fr;   
    }
}




.aboutus_container{
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    
   
}
.aboutus_block{
    background-color: #222323;
}

.aboutus_social{
    padding-right: 10px;
    padding-top: 50px;

}
.fc_icon_about{
    width: 50px;
    height: 50px;
    border-width: thin;
    border-color: red;
    border-style: solid;
}
