.deal-of-the-month {
    display: flex;
    background-color: var(--block-color);
}

.container {
    width: 50%;
    display: flex;
    justify-content: center;
}

.main__text-block {
    width: 470px;
    padding-top: 160px;
    padding-bottom: 170px;
}

.main-text {
    font-family: 'Bebas Neue', cursive;
    font-size: 124px;
    font-weight: 400;
    text-transform: none;

}

.dot {
    font-family: 'Bebas Neue', cursive;
    color: #f40106;
    line-height: 124px;

}

.month__price {
    font-family: 'Bebas Neue', cursive;
    font-size: 16px;
    line-height: 27px;
    margin: 20px 0;
}

.discount__price {
    font-family: 'Bebas Neue', cursive;
    font-size: 42px;
    font-weight: bold;
    line-height: 71px;
    color: #f40106;
}

.full__price {
    font-size: 23px;
    font-weight: bold;
    line-height: 39px;
    color: #fff;
    text-decoration: line-through;

}

.text {
    font-family: 'PT Sans', sans-serif;
    font-size: 20px;
    line-height: 30px;
    text-align: left;

}

.more-details {
    display: flex;
    align-items: center;
    font-family: 'PT Sans', sans-serif;
    font-size: 15px;
    padding-top: 40px;
    padding-bottom: 20px;
    width: 116px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.more-details-arrow {
    max-width: 24px;
    max-height: 24px;
    fill: currentColor;
    margin-left: 4px;
    text-align: right;
}

.more-details:hover {
    cursor: pointer;
    text-decoration: underline 0.5px;

}

.main-photo {
    max-width: 50%;
}
  
  
  .photo {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .countdown {
    display: inline-flex;
    justify-content: center;
    align-items: flex-end;
    order: -1;
    width: 394px;
    height: 83px;
    align-items: flex-end;
  

}

.countdown__item {
    align-items: flex-end;
    position: relative;
    flex-grow: 4;
    border: 1px solid #9b9b9b;
    border-radius: 5px;
    width: 83px;
    height: 83px;
}

.countdown__number {
    color: inherit;
    fill: currentColor;
    text-anchor: middle;
    position: relative;
    font-size: 36px;
    font-family: "Bebas Neue", cursive;
    font-weight: 400;

}

.countdown__caption {
    font-family: "PT Sans", sans-serif;
    opacity: .54;
    color: inherit;
    fill: currentColor;
    text-anchor: middle;
    white-space: nowrap;

}

.countdown__separator{
    width: 20px;
    height: 81px;
}