.email-box-background-img {
    background-image: url(../img/footer-background-address-bar.webp);
    background-position: 50%;
    margin-top: 50px;
    
}
.email-box-img {
    width: 60px;
}
.email-box-text {
    color: var(--text-color);
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
    font-size: 25px;
}
.email-box-texting {
    color: var(--block-color);
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
    font-size: 15px;
}
.email-box-information {
    display: flex;

}
.map-box-tel-email {
    text-decoration: none;
    color: var(--text-email);
}
.footer-social-icons {
    width: 25px;
    height: 25px;
}