.why-choose-us-main {
    background-color: white;
    margin: auto;
    max-width: 1200px;
}

.why-choose-us-h3-text {
    font-family: 'Bebas Neue', sans-serif;
    color: #222323;
    font-size: 52px;
    font-weight: 400;
}
.why-choose-us-h3-text-shipping-return-materials-payment {
    font-family: 'Bebas Neue', sans-serif;
    color: #222323;
    font-size: 24px;
    font-weight: 400;
}

.why-choose-us-p-text {
    font-family: 'PT Sans' , sans-serif;
    color: rgb(113, 116, 116);
    font-size: 20px;
    line-height: 1.5;
}
.why-choose-us-p-text-keep-fit{
    font-family: 'PT Sans' , sans-serif;
    color: rgb(113, 116, 116);
    font-size: 20px;
    font-weight: 400;
}
.why-choose-us-p-text-shipping-return-materials-payment {
    font-family: 'PT Sans' , sans-serif;
    color: rgb(113, 116, 116);
    font-size: 16px;
    font-weight: 400;
}
.why-choose-us-p-text-shop-collection {
    font-family: 'PT Sans' , sans-serif;
    color: rgb(34, 35, 35);
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
}
.why-choose-us-p-text-shop-collection:hover {
    text-decoration: underline;
}
.special-color-dot {
    font-family: 'Bebas Neue', sans-serif;
    color: #f40106 !important;
}
.why-choose-us-collections {
    display: flex;
    justify-content: space-evenly;
}
.new-arrivals {
    background-image: url(../img/new-arrivals-block-picture.svg);
    width: 600px;
    height: 375px;
}
.horizontal {   
    height: 2px;
    width: 18%;
    background-color: #f40106;
} 
.trainers {
    background-image: url(../img/trainers-block-picture.webp);
    width: 300px;
    height: 375px;
}
.hot_sale {
    background-image: url(../img/hot-sale-block-picture.webp);
    width: 300px;
    height: 375px;
}
.why-choose-us {
    text-align: center;
    font-weight: 400;
}
.why-choose-us-horizontal {
    height: 2px;
    width: 8%;
    background-color: #e0e0e0;
    margin: 0 auto;
}
.why-choose-us-shipping-return-materials-payment {
    display: flex;
}
.why-choose-us-shipping-return-materials-payment-icon {
    max-width: 50px;
    max-height: 50px;
    margin: auto;
    padding: auto;
}
.free-shipping {
    text-align: center;
    margin-left: 15px;
    margin-right: 15px;
    border: 2px solid #e0e0e0;
}
.easy-return {
    text-align: center;
    margin-left: 15px;
    margin-right: 15px;
    border: 2px solid #e0e0e0;
}
.eco-materials {
    text-align: center;
    margin-left: 15px;
    margin-right: 15px;
    border: 2px solid #e0e0e0;
}
.payment-methods {
    text-align: center;
    margin-left: 15px;
    margin-right: 15px;
    border: 2px solid #e0e0e0;
}